<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <system.serviceModel>
    <services>
      <service name="StagWare.FanControl.Service.FanControlService">
        <endpoint
          address=""
          binding="netNamedPipeBinding"
          bindingConfiguration=""
          contract="StagWare.FanControl.Service.IFanControlService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>

        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/StagWare.FanControl.Service/FanControlService"/>
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="False"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <nlog
    xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    useInvariantCulture="true">

    <variable name="logdir" value="${specialfolder:folder=CommonApplicationData}\NbfcService"/>

    <targets>
      <target
        xsi:type="EventLog"
        name="eventlog"
        log="Application"
        source="NoteBookFanControlService"
        layout="Message: ${message}${newline}Exception: ${exception}${newline}Callsite: ${callsite:includeSourcePath=true}${newline}Stacktrace: ${stacktrace:topFrames=20}"/>

      <target
        name="logfile"
        xsi:type="AsyncWrapper"
        timeToSleepBetweenBatches="0"
        queueLimit="1000"
        overflowAction="Grow">
        <target
          xsi:type="File"
          fileName="${logdir}\NbfcServiceLog.txt"
          archiveFileName="${logdir}\NbfcServiceLog.{#}.txt"
          archiveNumbering="Date"
          archiveDateFormat="yyyy-MM-dd"
          archiveEvery="Monday"
          maxArchiveFiles="3"
          encoding="utf-8">

          <layout xsi:type="CsvLayout" delimiter="Semicolon" withHeader="true">
            <column name="time" layout="${longdate}" />
            <column name="level" layout="${level}"/>
            <column name="message" layout="${message}" />
            <column name="exception" layout="${exception}"/>
            <column name="callsite" layout="${callsite:includeSourcePath=true}" />
            <column name="stacktrace" layout="${stacktrace:topFrames=20}" />
          </layout>
        </target>
      </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
  </nlog>
</configuration>
