<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IFanControlService"/>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint
        address="net.tcp://localhost:8523/StagWare.FanControl.Service/FanControlService"
        binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IFanControlService"
        contract="NbfcService.IFanControlService"
        name="NetTcpBinding_IFanControlService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
