<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <!--Includes-->
  <?include $(var.NbfcSetup.ProjectDir)Constants.wxi ?>
  
  <Bundle Name="$(var.ProductName)" Version="$(var.Version)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeGuid)"
          IconSourceFile="$(var.NbfcServiceClient.ProjectDir)nbfc.ico">

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <Payload SourceFile="$(var.ProjectDir)Resources\logoside.png" />
      <Payload SourceFile="$(var.ProjectDir)Resources\logo.png" />
    </BootstrapperApplicationRef>

    <WixVariable Id="WixStdbaThemeXml" Value="$(var.ProjectDir)Resources\Bundle2Theme.xml" />
    <WixVariable Id="WixStdbaThemeWxl" Value="$(var.ProjectDir)Resources\HyperlinkTheme.wxl" />

    <WixVariable Id="WixStdbaLogo" Value="$(var.ProjectDir)Resources\logo.png" />
    <WixVariable Id="WixStdbaLicenseUrl" Value="" /> 
    
    <Variable Name="InstallFolder" Type="string" Value="[ProgramFilesFolder]$(var.ProductName)"/>
    
    <Chain>
      <PackageGroupRef Id="NetFx40Web"/>
      <MsiPackage Compressed="yes" SourceFile="$(var.NbfcSetup.TargetPath)">        
        <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]" />
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>