<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" 
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NbfcClient.Properties.Settings" 
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" 
               allowExeDefinition="MachineToLocalUser" 
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IFanControlService"/>
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint address="net.pipe://localhost/StagWare.FanControl.Service/FanControlService" 
                binding="netNamedPipeBinding" 
                bindingConfiguration="NetNamedPipeBinding_IFanControlService" 
                contract="NbfcService.IFanControlService" 
                name="NetNamedPipeBinding_IFanControlService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  
  <userSettings>
    <NbfcClient.Properties.Settings>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TrayIconForegroundColor" serializeAs="String">
        <value>#FFFFFFFF</value>
      </setting>
      <setting name="CloseToTray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowHeight" serializeAs="String">
        <value>350</value>
      </setting>
      <setting name="WindowWidth" serializeAs="String">
        <value>430</value>
      </setting>
    </NbfcClient.Properties.Settings>
  </userSettings>
</configuration>
