<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IFanControlService"/>
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint 
        address="net.pipe://localhost/StagWare.FanControl.Service/FanControlService" 
        binding="netNamedPipeBinding" 
        bindingConfiguration="NetNamedPipeBinding_IFanControlService" 
        contract="NbfcService.IFanControlService"
        name="NetNamedPipeBinding_IFanControlService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  
  <nlog 
    xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    useInvariantCulture="true">
    
    <variable name="logdir" value="${specialfolder:folder=ApplicationData}/NoteBookFanControl"/>
    <variable name="tab" value="${literal:text=\t}"/>
    <targets>
      <target
        name="log"
        xsi:type="File"
        fileName="${logdir}/NoteBookFanControl-${shortdate}.log"
        archiveFileName="${logdir}/NoteBookFanControl-{#}.log"
        archiveNumbering="Date"
        archiveDateFormat="yyyy-MM-dd"
        archiveEvery="Monday"
        maxArchiveFiles="2"
        encoding="utf-8">
        
        <layout xsi:type="LayoutWithHeaderAndFooter">
          <header 
            xsi:type="SimpleLayout"
            text="AssemblyVersion: ${assembly-version}${newline}${newline}Timestamp${tab}Level${tab}Message${tab}Exception${tab}Callsite${tab}Stacktrace"/>
          
          <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="false">
            <column name="time" layout="${longdate}" />
            <column name="level" layout="${level}"/>
            <column name="message" layout="${message}" />
            <column name="exception" layout="${exception}"/>
            <column name="callsite" layout="${callsite:includeSourcePath=true}" />          
            <column name="stacktrace" layout="${stacktrace:topFrames=20}" />          
          </layout>
        </layout> 
      </target>
    </targets>
  
    <rules>
        <logger name="*" minlevel="Info" writeTo="log" />
    </rules>
  </nlog>
</configuration>
