<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IFanControlService"/>
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint 
        address="net.pipe://localhost/StagWare.FanControl.Service/FanControlService" 
        binding="netNamedPipeBinding" 
        bindingConfiguration="NetNamedPipeBinding_IFanControlService" 
        contract="NbfcService.IFanControlService"
        name="NetNamedPipeBinding_IFanControlService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  
  <nlog 
    xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    useInvariantCulture="true">
    
    <variable name="logdir" value="${specialfolder:folder=ApplicationData}/NoteBookFanControl"/>
    
    <targets>
      <target 
        name="logfile" 
        xsi:type="AsyncWrapper"
        timeToSleepBetweenBatches="0"
        queueLimit="1000" 
        overflowAction="Grow">
        <target
          xsi:type="File"
          fileName="${logdir}/NoteBookFanControlLog.txt"
          archiveFileName="${logdir}/NoteBookFanControlLog.{#}.txt"
          archiveNumbering="Date"
          archiveDateFormat="yyyy-MM-dd"
          archiveEvery="Monday"
          maxArchiveFiles="4"
          encoding="utf-8">

          <layout xsi:type="LayoutWithHeaderAndFooter">
            <header
              xsi:type="SimpleLayout"
              text="#AssemblyVersion: ${assembly-version}${newline}Timestamp;Level;Message;Exception;Callsite;Stacktrace"/>

            <layout xsi:type="CsvLayout" delimiter="Semicolon" withHeader="false">
              <column name="time" layout="${longdate}" />
              <column name="level" layout="${level}"/>
              <column name="message" layout="${message}" />
              <column name="exception" layout="${exception}"/>
              <column name="callsite" layout="${callsite:includeSourcePath=true}" />
              <column name="stacktrace" layout="${stacktrace:topFrames=20}" />
            </layout>
          </layout>
        </target>
      </target>
    </targets>
  
    <rules>
        <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
  </nlog>
</configuration>
