<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="ConfigsFolder" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Configs">
            <Component Id="cmp7A632955F154DC85AE4A4E8C7896101D" Directory="ConfigsFolder" Guid="*">
                <File Id="filD57A43FDBBA3549641ADA2D7AE1DB6A7" KeyPath="yes" Source="$(var.ConfigsDir)\Acer Aspire 1410.xml" />
            </Component>
            <Component Id="cmpD567E5034B89C94DF5DE3C50ECE05DE1" Directory="ConfigsFolder" Guid="*">
                <File Id="fil6C20D3C72DAC86D6CD06E95980589DBC" KeyPath="yes" Source="$(var.ConfigsDir)\Acer Aspire 1810T.xml" />
            </Component>
            <Component Id="cmp0217BAD290FA00D088FBD26B7DFDD19E" Directory="ConfigsFolder" Guid="*">
                <File Id="filD38B6724C6C8A2A0822C4F809F873A6B" KeyPath="yes" Source="$(var.ConfigsDir)\Acer Aspire 1810TZ.xml" />
            </Component>
            <Component Id="cmpCD77E1F8538755C312D56BEFCF37F2A6" Directory="ConfigsFolder" Guid="*">
                <File Id="fil21E7060747B7A92429B4F3819A152635" KeyPath="yes" Source="$(var.ConfigsDir)\Acer Aspire 1825PTZ.xml" />
            </Component>
            <Component Id="cmpF2436A76A839C909128306AC4FAEFEEE" Directory="ConfigsFolder" Guid="*">
                <File Id="filBE4E8D0EDF44EC2A6895D37B37BB816C" KeyPath="yes" Source="$(var.ConfigsDir)\Acer Aspire 5738G.xml" />
            </Component>
            <Component Id="cmp321D5E037EF2B8D66A1FB700FC4445EA" Directory="ConfigsFolder" Guid="*">
                <File Id="filFFB2CE3FDEF0CC461BEE063A1CB7C18A" KeyPath="yes" Source="$(var.ConfigsDir)\Acer Aspire 5930.xml" />
            </Component>
            <Component Id="cmpD50C7984B406E67350BA81B1E3ED7EC1" Directory="ConfigsFolder" Guid="*">
                <File Id="filEED42F8D3AE7C8A2CF0CC74CD0BFBDB5" KeyPath="yes" Source="$(var.ConfigsDir)\Acer Aspire 7551G.xml" />
            </Component>
            <Component Id="cmp1D6DA1A5FDBF72A8896C7D8D64DA34ED" Directory="ConfigsFolder" Guid="*">
                <File Id="filDC316DDFD8CB297D1297BD53D83BCF1A" KeyPath="yes" Source="$(var.ConfigsDir)\Acer Aspire 7735.xml" />
            </Component>
            <Component Id="cmp94327A857BB8B3C0EC05A74305F6FF05" Directory="ConfigsFolder" Guid="*">
                <File Id="fil2BE9EC856A15A6F81B7F43CC5BEE2CC0" KeyPath="yes" Source="$(var.ConfigsDir)\Acer Aspire 7741G.xml" />
            </Component>
            <Component Id="cmpA5D5700E9EF32D169F2EEE3887845263" Directory="ConfigsFolder" Guid="*">
                <File Id="filC258543E23B186FEC5E721A737FAEABA" KeyPath="yes" Source="$(var.ConfigsDir)\Acer Aspire E1-522.xml" />
            </Component>
            <Component Id="cmp546CA263041C9F4A1DA1350AEC3EA502" Directory="ConfigsFolder" Guid="*">
                <File Id="fil0422E2226C205BE517BC2E09D9393F0F" KeyPath="yes" Source="$(var.ConfigsDir)\Acer Aspire E5-471G.xml" />
            </Component>
            <Component Id="cmpBA75A32F5591C9DF1246E9BFC9C805C7" Directory="ConfigsFolder" Guid="*">
                <File Id="fil187D4C6DF34C21AD73CEA9A254C4AA24" KeyPath="yes" Source="$(var.ConfigsDir)\Acer Aspire E5-731.xml" />
            </Component>
            <Component Id="cmp7E48CFECF4AD40ABA94A3ADDB844D9EE" Directory="ConfigsFolder" Guid="*">
                <File Id="fil7057BF28722B7725982DFCDFAFD13584" KeyPath="yes" Source="$(var.ConfigsDir)\Acer Aspire LT-10Q.xml" />
            </Component>
            <Component Id="cmpB21F4359E668D81CE05D7D8AC7305BF0" Directory="ConfigsFolder" Guid="*">
                <File Id="fil2C2D1A993E4081F033913DFBD1C2BAD5" KeyPath="yes" Source="$(var.ConfigsDir)\Acer Aspire One AO531h.xml" />
            </Component>
            <Component Id="cmp077F1C8CC4AC79FDCE8482BE51F1BC9B" Directory="ConfigsFolder" Guid="*">
                <File Id="fil9F05D07070446F27C64938CDAF7E5E89" KeyPath="yes" Source="$(var.ConfigsDir)\Acer Aspire One AO751h.xml" />
            </Component>
            <Component Id="cmp1BB268E53A003D85718AE45BF791DEF2" Directory="ConfigsFolder" Guid="*">
                <File Id="fil268B5F9905E30D56CAD41D5F63FC3795" KeyPath="yes" Source="$(var.ConfigsDir)\Acer Aspire One AOA110.xml" />
            </Component>
            <Component Id="cmpFABEB31780DD531D189A70A9AFB8E41D" Directory="ConfigsFolder" Guid="*">
                <File Id="fil08567225311C252B3BF4DC1084823A6C" KeyPath="yes" Source="$(var.ConfigsDir)\Acer Aspire One AOA150.xml" />
            </Component>
            <Component Id="cmp4D492E30788E2A5C7E0E62F65E99FF3E" Directory="ConfigsFolder" Guid="*">
                <File Id="fil84B0449D2B12A146A780031F1F23A439" KeyPath="yes" Source="$(var.ConfigsDir)\Acer Aspire S3.xml" />
            </Component>
            <Component Id="cmp83F2B8A3EBEA336C51233EEBE86739FF" Directory="ConfigsFolder" Guid="*">
                <File Id="fil33646F960093798F7863D7B49DC748BF" KeyPath="yes" Source="$(var.ConfigsDir)\Acer Aspire S7-191.xml" />
            </Component>
            <Component Id="cmpB57CEC3472657927F99A2AAD306B70CD" Directory="ConfigsFolder" Guid="*">
                <File Id="fil6120A3A4060C7E91D2D9E442624D85FA" KeyPath="yes" Source="$(var.ConfigsDir)\Acer Aspire S7-391.xml" />
            </Component>
            <Component Id="cmp039EC96493A3B56D3B541D18566188D9" Directory="ConfigsFolder" Guid="*">
                <File Id="fil3E9A3A32E9C6CF25E970C720CB2988EF" KeyPath="yes" Source="$(var.ConfigsDir)\Acer Aspire V13.xml" />
            </Component>
            <Component Id="cmp5B875705CD66AFFB2A109E9303732832" Directory="ConfigsFolder" Guid="*">
                <File Id="fil4722CBADD2D24BEBDA29D3A53AAF569B" KeyPath="yes" Source="$(var.ConfigsDir)\Acer Aspire V3-371.xml" />
            </Component>
            <Component Id="cmpA50D9BE7DF10581FA7954E815E9CF500" Directory="ConfigsFolder" Guid="*">
                <File Id="fil5D45BE6ABB7404ED8605C85D7682E714" KeyPath="yes" Source="$(var.ConfigsDir)\Acer Aspire V5-572G.xml" />
            </Component>
            <Component Id="cmp118250EDE7C6CECD602C31103ABA27CC" Directory="ConfigsFolder" Guid="*">
                <File Id="fil5A926D948CA9771165DA8A992297AEB9" KeyPath="yes" Source="$(var.ConfigsDir)\Acer Aspire VN7-591 V15 Nitro.xml" />
            </Component>
            <Component Id="cmp5C25A07B5A5BC87DBE84EB35EAD7ADCC" Directory="ConfigsFolder" Guid="*">
                <File Id="filA8A16B1603D94B444A8CEE92349D1681" KeyPath="yes" Source="$(var.ConfigsDir)\Acer Aspire VN7-791G V17 Nitro Black Edition.xml" />
            </Component>
            <Component Id="cmpEA06644CE7017C8E41291E55F4105805" Directory="ConfigsFolder" Guid="*">
                <File Id="fil065697B36A35FCBBD49A2A833495EC83" KeyPath="yes" Source="$(var.ConfigsDir)\Acer Aspire VN7-792G V17 Nitro.xml" />
            </Component>
            <Component Id="cmp70459DCB1319EED2BDDF79ABA31E23CF" Directory="ConfigsFolder" Guid="*">
                <File Id="filE0D8B8B54ACEC48F250622548F93B828" KeyPath="yes" Source="$(var.ConfigsDir)\Acer LT-10Q.xml" />
            </Component>
            <Component Id="cmp5083A82F29D735262C5B602AAF287A59" Directory="ConfigsFolder" Guid="*">
                <File Id="fil956D1FB76F62BABED977CDC539924BED" KeyPath="yes" Source="$(var.ConfigsDir)\Acer TravelMate 7730G.xml" />
            </Component>
            <Component Id="cmp2216068707718E5CFD76BD4031A29367" Directory="ConfigsFolder" Guid="*">
                <File Id="fil746BC3C1B52C92384B0434FE90A0B3DB" KeyPath="yes" Source="$(var.ConfigsDir)\Asus F5SR.xml" />
            </Component>
            <Component Id="cmpC1136CA47F685E659B066EA9B0A3768C" Directory="ConfigsFolder" Guid="*">
                <File Id="fil056D992406F8782868FE3BEE4707D96F" KeyPath="yes" Source="$(var.ConfigsDir)\Asus K501LX.xml" />
            </Component>
            <Component Id="cmp3AEC556746998325CB90C9071A477BD9" Directory="ConfigsFolder" Guid="*">
                <File Id="fil9F3C550F81DCBEAC1EFF0E09E435A053" KeyPath="yes" Source="$(var.ConfigsDir)\Asus M52VA.xml" />
            </Component>
            <Component Id="cmp554E01DEDE1BEC72950C6EEB7A220073" Directory="ConfigsFolder" Guid="*">
                <File Id="fil6C18A57D3F5710650FC2688A76897D54" KeyPath="yes" Source="$(var.ConfigsDir)\Asus N550JV.xml" />
            </Component>
            <Component Id="cmpF0AFD5A845E88ABC662B794C19236FE9" Directory="ConfigsFolder" Guid="*">
                <File Id="fil85C61FE0AE13953FA0CF601040CB6456" KeyPath="yes" Source="$(var.ConfigsDir)\Asus N56JR.xml" />
            </Component>
            <Component Id="cmpB4BB4E5BC8CB83099B03A0A9027A1C27" Directory="ConfigsFolder" Guid="*">
                <File Id="filCBB006E4ADC7BAC79366C6E3B864E060" KeyPath="yes" Source="$(var.ConfigsDir)\Asus N56VZ.xml" />
            </Component>
            <Component Id="cmpAEEA893749B1EFC2738F7B0A6CF95D48" Directory="ConfigsFolder" Guid="*">
                <File Id="filB15F08FE7FBE418926A58D959BC79F86" KeyPath="yes" Source="$(var.ConfigsDir)\Asus ROG G751JL.xml" />
            </Component>
            <Component Id="cmpFCDD171E92AEE1BA0503733D7EEAE949" Directory="ConfigsFolder" Guid="*">
                <File Id="filEF60B8DE3BE541D46DBE319B7ACFB4A8" KeyPath="yes" Source="$(var.ConfigsDir)\Asus ROG G751JY.xml" />
            </Component>
            <Component Id="cmp8CE04E8C61C04EA59C0A9C15B0CB6F5D" Directory="ConfigsFolder" Guid="*">
                <File Id="filC307F83E974B85762A24F5465992A7DC" KeyPath="yes" Source="$(var.ConfigsDir)\Asus ROG G752VY.xml" />
            </Component>
            <Component Id="cmpD1CD78F32CA7EB898718617CE62DE8B7" Directory="ConfigsFolder" Guid="*">
                <File Id="filB76CDFC28FB4AE25879922AEC4F71DA0" KeyPath="yes" Source="$(var.ConfigsDir)\Asus Vivobook S400CA.xml" />
            </Component>
            <Component Id="cmp263D719CF20BAC188000A77D7ECF1A1E" Directory="ConfigsFolder" Guid="*">
                <File Id="fil1E6993524556085E8372314BD987D137" KeyPath="yes" Source="$(var.ConfigsDir)\Asus Zenbook UX21E.xml" />
            </Component>
            <Component Id="cmpDEBE2539BB62B8625887E24AB6BB8AEE" Directory="ConfigsFolder" Guid="*">
                <File Id="fil1733335EAC82B3FE9E89E2A5D98C764A" KeyPath="yes" Source="$(var.ConfigsDir)\Asus Zenbook UX301LA.xml" />
            </Component>
            <Component Id="cmp72980E268A7EFB80CD2F07DF1358AF87" Directory="ConfigsFolder" Guid="*">
                <File Id="filDD291E61FB603BCFBC083BE9603CE865" KeyPath="yes" Source="$(var.ConfigsDir)\Asus Zenbook UX302LA.xml" />
            </Component>
            <Component Id="cmp122D46526CD6479BE692C22F51A321C3" Directory="ConfigsFolder" Guid="*">
                <File Id="fil64F256409010B9AECEAE03A8815E7473" KeyPath="yes" Source="$(var.ConfigsDir)\Asus Zenbook UX31A.xml" />
            </Component>
            <Component Id="cmpA256FDB509E7BD8E4DB1672AEA61C598" Directory="ConfigsFolder" Guid="*">
                <File Id="fil577D420580A15B91F83D77B58CFC602E" KeyPath="yes" Source="$(var.ConfigsDir)\Asus Zenbook UX32A.xml" />
            </Component>
            <Component Id="cmpA00D9209C3FF84905BDF0C454B898F7C" Directory="ConfigsFolder" Guid="*">
                <File Id="fil8DAF8E000572FDBDA008486EBEC0A9DA" KeyPath="yes" Source="$(var.ConfigsDir)\Asus Zenbook UX32LN.xml" />
            </Component>
            <Component Id="cmp779E25F498CE7EE866C8CED2127D29D2" Directory="ConfigsFolder" Guid="*">
                <File Id="fil7AD486BE3892CEC311144599C82E4EDF" KeyPath="yes" Source="$(var.ConfigsDir)\Asus Zenbook UX32VD.xml" />
            </Component>
            <Component Id="cmp429C6058BF28DDC66DFADB66DC09C658" Directory="ConfigsFolder" Guid="*">
                <File Id="fil844A6443945ED3062EADE36C012DB31E" KeyPath="yes" Source="$(var.ConfigsDir)\Asus Zenbook UX51VZA.xml" />
            </Component>
            <Component Id="cmp9101C144566E04BE2B9C17D4177F96C4" Directory="ConfigsFolder" Guid="*">
                <File Id="fil655D4CC2CC8E3E2E1417DB447781C001" KeyPath="yes" Source="$(var.ConfigsDir)\Dell Inspiron 7348.xml" />
            </Component>
            <Component Id="cmp93FC49641E75A24B596C895CFE56EA7F" Directory="ConfigsFolder" Guid="*">
                <File Id="filB752BC064D7C9754434C96D972694C19" KeyPath="yes" Source="$(var.ConfigsDir)\Dell Vostro 3350.xml" />
            </Component>
            <Component Id="cmpE74953EABCF8430DF48871DC95A1450C" Directory="ConfigsFolder" Guid="*">
                <File Id="fil16701A0938CAE5C07EE7368293D2A3CC" KeyPath="yes" Source="$(var.ConfigsDir)\Dell XPS M1530.xml" />
            </Component>
            <Component Id="cmpF2A3DA4AE0AE7FB2B2B4B8B0711AA932" Directory="ConfigsFolder" Guid="*">
                <File Id="fil6B8DB627A46E5B044ABAD2711A6C1EED" KeyPath="yes" Source="$(var.ConfigsDir)\Fujitsu ESPRIMO Mobile V5505.xml" />
            </Component>
            <Component Id="cmp0BD6AC1D09BA5956E9539FB9D0A42CD4" Directory="ConfigsFolder" Guid="*">
                <File Id="filE86FCFD702C2936672895F213CFE9104" KeyPath="yes" Source="$(var.ConfigsDir)\Gateway AOA110.xml" />
            </Component>
            <Component Id="cmp17F1287315C1571F4C3095AC412EEBEC" Directory="ConfigsFolder" Guid="*">
                <File Id="fil24D92D6F2BCD68A891925CEE94142B1F" KeyPath="yes" Source="$(var.ConfigsDir)\Gateway AOA150.xml" />
            </Component>
            <Component Id="cmp3B60C3B8BD589A666FF388699DD36F29" Directory="ConfigsFolder" Guid="*">
                <File Id="fil9ED7E108D65AB96728584026E19EBF2D" KeyPath="yes" Source="$(var.ConfigsDir)\Gateway LT31.xml" />
            </Component>
            <Component Id="cmpDDAAE66AA098D8B2D3709AA1573FAF3B" Directory="ConfigsFolder" Guid="*">
                <File Id="fil6E02EED7836F9183F2F8F1E76E69EE30" KeyPath="yes" Source="$(var.ConfigsDir)\HP Compaq 615.xml" />
            </Component>
            <Component Id="cmpB8A858E0DC8A322952D7843A345E8DC1" Directory="ConfigsFolder" Guid="*">
                <File Id="fil978148BFFF273492BCA1504D3D3326AC" KeyPath="yes" Source="$(var.ConfigsDir)\HP Compaq 625.xml" />
            </Component>
            <Component Id="cmp9002130E53009F9B077499280F6A0B5B" Directory="ConfigsFolder" Guid="*">
                <File Id="fil3E657E7ABDEBA0A1035ABAA2520516B8" KeyPath="yes" Source="$(var.ConfigsDir)\HP Compaq 6735s Turion X2 RM-72.xml" />
            </Component>
            <Component Id="cmpE4E718FFD9FC2D55063ECCC3C629551C" Directory="ConfigsFolder" Guid="*">
                <File Id="fil8A149CA066C1E8D2CB46FDFFB9DD2209" KeyPath="yes" Source="$(var.ConfigsDir)\HP Compaq 8710p.xml" />
            </Component>
            <Component Id="cmp76213BADC175F968C00B834141CFAB3B" Directory="ConfigsFolder" Guid="*">
                <File Id="filF26D022153DE38ADE96D9EB6BB9A06D3" KeyPath="yes" Source="$(var.ConfigsDir)\HP EliteBook 2760p.xml" />
            </Component>
            <Component Id="cmp82761DBB489B81C68AB13CB13D8058C1" Directory="ConfigsFolder" Guid="*">
                <File Id="filA106C07AD6E55E6AEEB4F7C2B2BC2673" KeyPath="yes" Source="$(var.ConfigsDir)\HP EliteBook 8560p.xml" />
            </Component>
            <Component Id="cmpE228405E6C41EC1E1A875F37314F338B" Directory="ConfigsFolder" Guid="*">
                <File Id="fil6C74CC221F673F2DC900633DDAFA6930" KeyPath="yes" Source="$(var.ConfigsDir)\HP EliteBook 8760w.xml" />
            </Component>
            <Component Id="cmpC42DA9F2530419E9B7F55CE7A134689F" Directory="ConfigsFolder" Guid="*">
                <File Id="filF786D3E0580A3B7BADD608ED9560E0D8" KeyPath="yes" Source="$(var.ConfigsDir)\HP EliteBook Folio 9470m.xml" />
            </Component>
            <Component Id="cmp1B273B9270D77B1670BBDD1D937A1896" Directory="ConfigsFolder" Guid="*">
                <File Id="filB09FC25ABFC031BCBB535E1F0A537742" KeyPath="yes" Source="$(var.ConfigsDir)\HP ENVY m6 Sleekbook.xml" />
            </Component>
            <Component Id="cmp2BD610C894C8593B672B535D14C5C517" Directory="ConfigsFolder" Guid="*">
                <File Id="fil91223EEF3BB04527921C230C43D5CC61" KeyPath="yes" Source="$(var.ConfigsDir)\HP OMEN Notebook PC 15.xml" />
            </Component>
            <Component Id="cmp73E9EC995B79202D0A899EE1F9F1EE9D" Directory="ConfigsFolder" Guid="*">
                <File Id="fil3205A86165CB2AEF0E2DE98893CB2F0B" KeyPath="yes" Source="$(var.ConfigsDir)\HP Pavilion dv6.xml" />
            </Component>
            <Component Id="cmp8556A57367AD6B7126BEC26A79FCDDB9" Directory="ConfigsFolder" Guid="*">
                <File Id="filBCCD41B020E7DFD79ED5975DCA294656" KeyPath="yes" Source="$(var.ConfigsDir)\HP Pavilion HDX18.xml" />
            </Component>
            <Component Id="cmp0008C3B41CD0D39CEF789629B08BB3AF" Directory="ConfigsFolder" Guid="*">
                <File Id="fil2B6CDE4494E02C695BA7F95D6E26E556" KeyPath="yes" Source="$(var.ConfigsDir)\HP ProBook 430 G1.xml" />
            </Component>
            <Component Id="cmpD831D398B891F2BC131D59D119C5372E" Directory="ConfigsFolder" Guid="*">
                <File Id="filFF47EC686E797EB814E7CE764F4B692C" KeyPath="yes" Source="$(var.ConfigsDir)\HP ProBook 440 G3.xml" />
            </Component>
            <Component Id="cmp0998BE84108A277753BF1B7C0325A6AF" Directory="ConfigsFolder" Guid="*">
                <File Id="filB931EB8A9319ACB453843722E4DF94B5" KeyPath="yes" Source="$(var.ConfigsDir)\HP ProBook 450 G1.xml" />
            </Component>
            <Component Id="cmpD09B3A0F1A7258EDF0C66238F08BB6E1" Directory="ConfigsFolder" Guid="*">
                <File Id="filAB6E24D66D05A240C389085D0CB1BCEE" KeyPath="yes" Source="$(var.ConfigsDir)\HP ProBook 4520s.xml" />
            </Component>
            <Component Id="cmpEC021399652519C3D6509AD46842761B" Directory="ConfigsFolder" Guid="*">
                <File Id="fil0514CE48040584173CA2BA0060392C57" KeyPath="yes" Source="$(var.ConfigsDir)\HP ProBook 4530s.xml" />
            </Component>
            <Component Id="cmpB8EE8A89E707442EFF0A4DC62B405FCE" Directory="ConfigsFolder" Guid="*">
                <File Id="fil1A4340791A638C761ACB554FC3F03520" KeyPath="yes" Source="$(var.ConfigsDir)\HP ProBook 4535s.xml" />
            </Component>
            <Component Id="cmpFB8D985A0D118B9979FF7286E0495073" Directory="ConfigsFolder" Guid="*">
                <File Id="fil3518CAB71724E3C488AA810747DDE5C6" KeyPath="yes" Source="$(var.ConfigsDir)\HP ProBook 4540s.xml" />
            </Component>
            <Component Id="cmp4B3555D5C4D3498BA399D6096969F26F" Directory="ConfigsFolder" Guid="*">
                <File Id="fil1A930649AC14D9B4B870EBD522770FBE" KeyPath="yes" Source="$(var.ConfigsDir)\HP ProBook 4710s.xml" />
            </Component>
            <Component Id="cmp0C1AF4D4690FAF44D9F1C76D700E3A3F" Directory="ConfigsFolder" Guid="*">
                <File Id="fil8147399E71CDEF51C38D7F072F93A5B9" KeyPath="yes" Source="$(var.ConfigsDir)\HP ProBook 4720s.xml" />
            </Component>
            <Component Id="cmp0765673553B0BF0791BD457D139995CF" Directory="ConfigsFolder" Guid="*">
                <File Id="fil48DBD0AB0C475FD7295F0E558DD4D1EF" KeyPath="yes" Source="$(var.ConfigsDir)\HP ProBook 5330m.xml" />
            </Component>
            <Component Id="cmp9B183F9DD422A1D95AF941F7E44C6845" Directory="ConfigsFolder" Guid="*">
                <File Id="fil9D3B482E4D45F686479495B5CF04D682" KeyPath="yes" Source="$(var.ConfigsDir)\HP ProBook 6460b.xml" />
            </Component>
            <Component Id="cmp1D1DD173640A1F3C1012DC81171C5C18" Directory="ConfigsFolder" Guid="*">
                <File Id="fil72C76041469F5CEC8A59E8615F9C5706" KeyPath="yes" Source="$(var.ConfigsDir)\HP ProBook 6465b.xml" />
            </Component>
            <Component Id="cmpEFD85E5E413F0DD8B78CB01E3A182F9F" Directory="ConfigsFolder" Guid="*">
                <File Id="fil539CCFD04C1D084B1FE0778182DC8763" KeyPath="yes" Source="$(var.ConfigsDir)\HP ProBook 650 G1.xml" />
            </Component>
            <Component Id="cmp8E7A04B657D9DE04CEBA9381245E61DB" Directory="ConfigsFolder" Guid="*">
                <File Id="fil8CEFC96581123F9EF92D9719D46673B2" KeyPath="yes" Source="$(var.ConfigsDir)\HP ProBook 6560b.xml" />
            </Component>
            <Component Id="cmpDD8482ADFCA1F547440687B88AC81D71" Directory="ConfigsFolder" Guid="*">
                <File Id="fil3E093A22723B74D81FF262649146AF22" KeyPath="yes" Source="$(var.ConfigsDir)\HP ZBook 15.xml" />
            </Component>
            <Component Id="cmp9E380817DB11D1209E77CD04DD0C5364" Directory="ConfigsFolder" Guid="*">
                <File Id="fil86F215D1F4E6F005F77B50DA4A6B049D" KeyPath="yes" Source="$(var.ConfigsDir)\Lenovo Ideapad 500s.xml" />
            </Component>
            <Component Id="cmpD7A1344DACCC638E9EBE90E76FF40BBF" Directory="ConfigsFolder" Guid="*">
                <File Id="fil9C5DCCF60EB9267C0FF10669A205502A" KeyPath="yes" Source="$(var.ConfigsDir)\Lenovo Ideapad U330p.xml" />
            </Component>
            <Component Id="cmp9D8CFE223E4B932E70A8747CCB70ED82" Directory="ConfigsFolder" Guid="*">
                <File Id="filAF1294A00A807AD0BB810A1E92159EF6" KeyPath="yes" Source="$(var.ConfigsDir)\Lenovo T540p.xml" />
            </Component>
            <Component Id="cmpAEE2616E5EDA146FC05C9C4F154C826D" Directory="ConfigsFolder" Guid="*">
                <File Id="filC6364376DD3D2933905B5CD53887EA70" KeyPath="yes" Source="$(var.ConfigsDir)\Lenovo ThinkPad Edge E520.xml" />
            </Component>
            <Component Id="cmpA1B242C490A3310264AFA3E11BE8B76A" Directory="ConfigsFolder" Guid="*">
                <File Id="filF944B2C3810EEC4751B57FBA6E350D4B" KeyPath="yes" Source="$(var.ConfigsDir)\Lenovo ThinkPad Helix.xml" />
            </Component>
            <Component Id="cmp92B823E355F2DBBD2D8F17E7CA2221EA" Directory="ConfigsFolder" Guid="*">
                <File Id="fil86B17C8351D0F70B76C5D992DC470C42" KeyPath="yes" Source="$(var.ConfigsDir)\Lenovo ThinkPad T430s.xml" />
            </Component>
            <Component Id="cmp04A3620FDDA52E550398E9A22925617F" Directory="ConfigsFolder" Guid="*">
                <File Id="fil36C7C1BBB0A05ECE2E39FE920B01E340" KeyPath="yes" Source="$(var.ConfigsDir)\Lenovo U31-70.xml" />
            </Component>
            <Component Id="cmp9126F69D7ED66D09FB7F04F4D705293D" Directory="ConfigsFolder" Guid="*">
                <File Id="filB071FD0F5BB486B4EE6F8243D03AD0BF" KeyPath="yes" Source="$(var.ConfigsDir)\Lenovo U41-70.xml" />
            </Component>
            <Component Id="cmp2691517A93ACDB48F58FCD90ACF1B1B5" Directory="ConfigsFolder" Guid="*">
                <File Id="fil49CAA172015B5963F5CC43D6B9A2326C" KeyPath="yes" Source="$(var.ConfigsDir)\Lenovo V580.xml" />
            </Component>
            <Component Id="cmp91F7683F6EBBE9524D7D1499A9FB771E" Directory="ConfigsFolder" Guid="*">
                <File Id="fil8A9293EAE23DE2015E8A2F3F92B8EDBF" KeyPath="yes" Source="$(var.ConfigsDir)\Lenovo x121e 30515YG.xml" />
            </Component>
            <Component Id="cmpDCCCB13FAF19D45FE58D5CB84E8C1EA2" Directory="ConfigsFolder" Guid="*">
                <File Id="filA145E3852DDEF60BE7F7E7F8E5513B9A" KeyPath="yes" Source="$(var.ConfigsDir)\Lenovo Yoga 11s.xml" />
            </Component>
            <Component Id="cmpBE686C3253C3CAD8A84460C3DDCB993B" Directory="ConfigsFolder" Guid="*">
                <File Id="fil1E69346F7D09D2718E9DAB63C6038686" KeyPath="yes" Source="$(var.ConfigsDir)\Lenovo Yoga 13 2191.xml" />
            </Component>
            <Component Id="cmpB04CA8CD733C90C624DC1806EE28D912" Directory="ConfigsFolder" Guid="*">
                <File Id="fil848C9B1D49893EC90260F03634BABBE9" KeyPath="yes" Source="$(var.ConfigsDir)\Lenovo Yoga 2 13.xml" />
            </Component>
            <Component Id="cmpFF1DEFC7C0BD5D14B525A34786B7E7BB" Directory="ConfigsFolder" Guid="*">
                <File Id="filF50ACDDD5DBA85F729A08196597FB003" KeyPath="yes" Source="$(var.ConfigsDir)\Lenovo Yoga 3 14.xml" />
            </Component>
            <Component Id="cmpF9FCFA89902847E4386F47E15C8AD711" Directory="ConfigsFolder" Guid="*">
                <File Id="filD0C50735C7648FE83707686325DD8BA1" KeyPath="yes" Source="$(var.ConfigsDir)\Medion Akoya P6612.xml" />
            </Component>
            <Component Id="cmp1877CB760C998D1476819821CE27F2D0" Directory="ConfigsFolder" Guid="*">
                <File Id="fil0191C14AD6789B206F5F735DBC7580B7" KeyPath="yes" Source="$(var.ConfigsDir)\Medion Akoya P6630.xml" />
            </Component>
            <Component Id="cmp7ABD6F8C734063E03F7DAC4161015C7E" Directory="ConfigsFolder" Guid="*">
                <File Id="fil7DDBACD9A01AEA08382B6E712063FA4F" KeyPath="yes" Source="$(var.ConfigsDir)\Packard Bell AOA110.xml" />
            </Component>
            <Component Id="cmp7E5C339E84B37101A4F3086F800360E0" Directory="ConfigsFolder" Guid="*">
                <File Id="filA44C372DBDC2D12FB551782EDAC56143" KeyPath="yes" Source="$(var.ConfigsDir)\Packard Bell AOA150.xml" />
            </Component>
            <Component Id="cmpA2E891709A07D4F398C8D8962A56A278" Directory="ConfigsFolder" Guid="*">
                <File Id="filFC5B97B3761AB5D866D316059C297EAB" KeyPath="yes" Source="$(var.ConfigsDir)\Packard Bell DOA150.xml" />
            </Component>
            <Component Id="cmp101F6901CC50EA367C0BDF58ABD94712" Directory="ConfigsFolder" Guid="*">
                <File Id="filAED24B80C174F824098A02C3A6A0ADD2" KeyPath="yes" Source="$(var.ConfigsDir)\Packard Bell DOTMA.xml" />
            </Component>
            <Component Id="cmp7C989988B4819CC25922E013C4C65E63" Directory="ConfigsFolder" Guid="*">
                <File Id="fil276C491B6D5B519DFE9128DEB810448B" KeyPath="yes" Source="$(var.ConfigsDir)\Packard Bell DOTMU.xml" />
            </Component>
            <Component Id="cmp1909C1695C72DBE49630EE71475B04A3" Directory="ConfigsFolder" Guid="*">
                <File Id="fil9A0BADFB2F95E593C5CF8068CE8DFD6F" KeyPath="yes" Source="$(var.ConfigsDir)\Packard Bell DOTVR46.xml" />
            </Component>
            <Component Id="cmp9C3E01549A0A2D9F7CB130F46B21B64B" Directory="ConfigsFolder" Guid="*">
                <File Id="filE9BA33A23DAA1A61A7E65E4A1DAE5ECA" KeyPath="yes" Source="$(var.ConfigsDir)\Packard Bell Easynote TJ65.xml" />
            </Component>
            <Component Id="cmp56858CBC1B6397137BF11376BEC3E76D" Directory="ConfigsFolder" Guid="*">
                <File Id="filB8E214C505260F3847D4A7EF315CC608" KeyPath="yes" Source="$(var.ConfigsDir)\Packard Bell ENBFT.xml" />
            </Component>
            <Component Id="cmp389BB03BC60B6059A9E07CC62ADD5B8F" Directory="ConfigsFolder" Guid="*">
                <File Id="fil9355EE77F8BF69DBC1FBF713841F6ADF" KeyPath="yes" Source="$(var.ConfigsDir)\Sony Vaio SVE1711.xml" />
            </Component>
            <Component Id="cmpC07FC53B0FA53794371B78BF1233D905" Directory="ConfigsFolder" Guid="*">
                <File Id="filD31D8AE4F9CB9E1ED9EE01BEDB966C88" KeyPath="yes" Source="$(var.ConfigsDir)\Sony VAIO SVE1713Y1E.xml" />
            </Component>
            <Component Id="cmp6945C93B7B7B5007E4E6AFF561F792D0" Directory="ConfigsFolder" Guid="*">
                <File Id="filF3F2135D38CD734F793030D075BC2314" KeyPath="yes" Source="$(var.ConfigsDir)\Sony Vaio SVT1312M1ES.xml" />
            </Component>
            <Component Id="cmp6D7AB4DAF82484F0A8842CADA57D9C80" Directory="ConfigsFolder" Guid="*">
                <File Id="filEB80A764CD7C2BE0E430AB31ABDB68B3" KeyPath="yes" Source="$(var.ConfigsDir)\Sony Vaio VPCF12S1E.xml" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>