<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <!--Includes-->
  <?include $(var.ProjectDir)Constants.wxi ?>

  <Fragment>
    <ComponentGroup Id="Plugins" Directory="PluginsFolder">     

      <Component Id="Plg.StagWare.Plugins.ECWindows" 
                 Guid="379F71BF-D1AC-4A94-BB69-60C93B16BE8C">
        <File Id="StagWare.Plugins.ECWindows.dll" 
              Name="StagWare.Plugins.ECWindows.dll" 
              DiskId="1" 
              Vital="yes" 
              KeyPath="yes"
              Source="$(var.StagWare.Plugins.ECWindows.TargetDir)StagWare.Plugins.ECWindows.dll">

          <?if $(var.Configuration) = "Release"?>
          <netfx:NativeImage Id="StagWare.Plugins.ECWindows.NativeImage" 
                             Priority="1" 
                             Platform="all"/>
          <?endif?>
        </File>
      </Component>

      <!--<Component Id="Plg.StagWare.Plugins.ECLinux"
                 Guid="377B8D22-354D-411B-B6A8-2524FA071A5E">
        <File Id="StagWare.Plugins.ECLinux.dll"
              Name="StagWare.Plugins.ECLinux.dll"
              DiskId="1"
              Vital="yes"
              KeyPath="yes"
              Source="$(var.StagWare.Plugins.ECLinux.TargetDir)StagWare.ECPlugins.Linux.dll">

          <?if $(var.Configuration) = "Release"?>
          <netfx:NativeImage Id="StagWare.Plugins.ECLinux.NativeImage"
                             Priority="1"
                             Platform="all"/>
          <?endif?>
        </File>
      </Component>-->

      <Component Id="Plg.StagWare.Plugins.CpuTemperatureMonitor"
                 Guid="7144B706-1A57-4375-B58D-615E46A12E25">
        <File Id="StagWare.Plugins.CpuTemperatureMonitor.dll"
              Name="StagWare.Plugins.CpuTemperatureMonitor.dll"
              DiskId="1"
              Vital="yes"
              KeyPath="yes"
              Source="$(var.StagWare.Plugins.CpuTemperatureMonitor.TargetDir)StagWare.Plugins.CpuTemperatureMonitor.dll">

          <?if $(var.Configuration) = "Release"?>
          <netfx:NativeImage Id="StagWare.Plugins.CpuTemperatureMonitor.NativeImage"
                             Priority="1"
                             Platform="all"/>
          <?endif?>
        </File>
      </Component>

      <Component Id="Plg.StagWare.Hardware"
                 Guid="856CCAA5-A7C0-45E0-94BA-7184D8B1C033">
        <File Id="StagWare.Hardware.dll"
              Name="StagWare.Hardware.dll"
              DiskId="1"
              Vital="yes"
              KeyPath="yes"
              Source="$(var.StagWare.Hardware.TargetDir)StagWare.Hardware.dll">

          <?if $(var.Configuration) = "Release"?>
          <netfx:NativeImage Id="StagWare.Hardware.NativeImage"
                             Priority="1"
                             Platform="all"/>
          <?endif?>
        </File>
      </Component>

      <Component Id="Plg.StagWare.Hardware.LPC" 
                 Guid="4A948EE5-F20F-4281-A44F-D65A02E9D5AB">
        <File Id="StagWare.Hardware.LPC.dll" 
              Name="StagWare.Hardware.LPC.dll" 
              DiskId="1" 
              Vital="yes" 
              KeyPath="yes"
              Source="$(var.StagWare.Hardware.LPC.TargetDir)StagWare.Hardware.LPC.dll">

          <?if $(var.Configuration) = "Release"?>
          <netfx:NativeImage Id="StagWare.Hardware.LPC.NativeImage" 
                             Priority="1" 
                             Platform="all"/>
          <?endif?>
        </File>
      </Component>

      <Component Id="Plg.OpenHardwareMonitorLib" 
                 Guid="0AF2121F-BDA3-40AC-A719-9849AE8A0E5B">
        <File Id="OpenHardwareMonitorLib.dll" 
              Name="OpenHardwareMonitorLib.dll" 
              DiskId="1" 
              Vital="yes" 
              KeyPath="yes"
              Source="$(var.StagWare.Plugins.CpuTemperatureMonitor.TargetDir)OpenHardwareMonitorLib.dll">

          <?if $(var.Configuration) = "Release"?>
          <netfx:NativeImage Id="OpenHardwareMonitorLib.NativeImage" 
                             Priority="1" 
                             Platform="all"/>
          <?endif?>
        </File>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>